.person-form {
  display: flex;
  flex-direction: column;
}

.person-form > label {
  width: 330px;
  display: flex;
  justify-content: space-between;
}

.person-form > label:not(:last-child) {
  margin-bottom: 10px;
}

.person-form > label > input {
  width: 200px;
}

.person-form-actions {
  width: 200px;
  margin: 10px auto 0;
  display: flex;
  justify-content: space-between;
}

.person-form-actions > button[type='button'] {
  transform: scale(0.93);
}
