.person-form {
  display: flex;
  flex-direction: column;
}

.person-form > label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .person-form > label {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.person-form-actions {
  display: flex;
  justify-content: space-between;
}
